<p>
  {{model.length}} todos:
</p>
<ul>
{{#each model as |todo|}}
  <li>{{link-to todo.title 'todos.show' todo}}  <button {{action "deleteTodo" todo}}>X</button></li>
{{/each}}
</ul>

<form {{action 'addTodo' title on="submit"}}>
  <label>
    <strong>New Todo</strong><br>
    {{input value=title placeholder="set Title"}}
  </label>
  <button type="submit">add</button>
</form>
